.card {
    background-color: #ccc;
    height: 400px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.image {
    height: 60%;
    width: 100%;
}
.card img {
    height: 100%;
    width: 100%;
}
.content {
    padding: 0 5px;
}

/* Card section */
.main-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.conatiner {
    margin: 10px 50px;
    max-width: 1140px;
    width: 100%;
}
.conatiner .row-1, .conatiner .row-2 {
    display: flex;
    justify-content: center;
}
.card-item {
    width: 25%;
    padding: 20px;
}
.section-title {
    text-align: center;
}
.card-section {
    margin: 20px 0;
}

/* Navigation */
#header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #222;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    width: 100%;
    align-items: center;
    max-width: 1140px;
}
.container .logo {
    width: 30%;
    float: left;
}
.container .logo .logo-text {
    font-weight: bold;
    color: aquamarine;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.container .navbar {
    width: 70%;
    float: right;
}
.container .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: end;
}
.container .navbar ul li {
    padding: 10px;
}
.container .navbar ul li a {
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
